<%- include('includes/head'); %>

  <div class="container">

    <div class="row">

      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">Acesse seus contatos</p>

        <%- include("includes/messages"); %>

          <div class="responsive-table">
            <table class="table table table-striped">
              <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Telefone</th>
                <th>E-Mail</th>
              </tr>
              <!--  <%/* for (let i=0; i < contacts.length; i++) { %>
                <tr>
                  <td>
                    <%= contacts[i].name %>
                  </td>
                  <td>
                    <%= contacts[i].surname %>
                  </td>
                  <td>
                    <%= contacts[i].phone %>
                  </td>
                  <td>
                    <%= contacts[i].email %>
                  </td>
                </tr>
                <% } */%> -->
            </table>
          </div>

      </div>
      <div class="col-lg-2"></div>

    </div>

  </div>



  <%- include('includes/footer'); %>