<%- include("./includes/header.ejs") %>

  <h1>
    <%= title %>
  </h1>

  <h2>
    <%= localVariable %>
  </h2>

  <% if(user && user.name) { %>
    <h3>
      <%= user.name %>
    </h3>
    <% } else { %>
      <h3>Você não está logado</h3>
      <% } %>

        <form method="POST" action="/">
          <label for="nome">
            Cliente
            <input type="text" name="nome">
          </label>
          <button type="submit">Enviar</button>
        </form>

        <ul>
          <% numbers.forEach(num=> { %>
            <li>
              <%= num %>
            </li>
            <% }); %>
        </ul>

<%- include("./includes/footer.ejs") %>